
 body{
   font-family: "Nanum Brush Script";
   font-weight: lighter;
   line-height: 10px;
   font-size: 10px

 }

ul,ol{
  margin:0px;
  padding:0px;
  list-style-type:none;
}

#nav{
  width:400px;
  height:120px;
  background-color:none;
  padding-left:15px;
}

#nav ul{
  background-color: none;
  height:50px;
}
#nav ul li a{
  color:grey;
  text-decoration: none;
  font-size: 20px;

}
#nav ul li{
  float:left;
  line-height:50px;
  padding:0px 15px;
  position:relative;
}
#nav ul li:hover .owrap{
  display:block;
}
#nav ul li .owrap{
  position: absolute;
  background-color: none;
  width:162px;
  padding-top: 10px;
  display:none;
}
#nav ul li ol{
  background-color: none;
  padding:0 10px 10px 10px;
}
#nav ul li ol li{
  float:none;
  line-height:20px;
  padding: 0px 5px;
}


 h1{

   color:#bb8800;
   font-size: 60px;
 }
 h2{
   font-size: 45px
 }
 h4{
   font-size: 20px;
 }



 html{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;


}


  body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

.slider1{
   position: relative;
}
.s1{
  position: absolute;
  width:100%;
  height:300px;

  animation: 12s s11 infinite;
  -moz-animation: 12s s11 infinite;
  -webkit-animation:12s s11 infinite;
}

.s2{
  position: absolute;
  width:100%;
  height:300px;

  animation: 12s s12 infinite;
  -moz-animation: 12s s12 infinite;
  -webkit-animation:12s s12 infinite;
}

.s3{
  position: absolute;
  width:100%;
  height:300px;

  animation: 12s s13 infinite;
  -moz-animation: 12s s13 infinite;
  -webkit-animation:12s s13 infinite;
}

/* Script keyframes for slider1, if run in mozilla */
@-webkit-keyframes s11{
  0%{opacity: 0; z-index: 0}
  17%{opacity: 1; z-index: 10}
  34%{opacity: 1; z-index: 10}
  50%{opacity: 0; z-index: 0}
  73%{opacity: 0; z-index: 0}
  85%{opacity: 0; z-index: 0}
}

/* Script keyframes for slider2, if run in mozilla */
@-webkit-keyframes s12{
  0%{opacity: 0; z-index: 0}
  17%{opacity: 0; z-index: 0}
  34%{opacity: 0; z-index: 0}
  50%{opacity: 1; z-index: 10}
  73%{opacity: 1; z-index: 10}
  85%{opacity: 0; z-index: 0}
}

/* Script keyframes for slider3, if run in mozilla */
@-webkit-keyframes s13{
  0%{opacity: 1; z-index: 10}
  17%{opacity: 0; z-index: 0}
  34%{opacity: 0; z-index: 0}
  50%{opacity: 0; z-index: 0}
  73%{opacity: 0; z-index: 0}
  85%{opacity: 1; z-index: 10}
}


.circleimage{
  width: 100px;
  height: 100px;
  border-radius: 50%;

}
